@import 'mixins.scss';
@import 'animation.scss';
/*base start*/
html, body, div, span, ul, li, h1, h2, h3, h4, h5, h6, p, i, strong, img {
    margin: 0;
    padding: 0;
}

body, a {
    color: #999;
    letter-spacing: 1px;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.clearfix {
    zoom: 1;
}

    .clearfix:after {
        clear: both;
        content: "";
        display: block;
        visibility: hidden;
        height: 0;
    }
/*base end*/


.trans-all {
    @include transition(all 0.2s);
}

@font-face {
    font-family: 'iconfont';
    src: url('//at.alicdn.com/t/font_1450322317_1949005.eot'); /* IE9*/
    src: url('//at.alicdn.com/t/font_1450322317_1949005.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('//at.alicdn.com/t/font_1450322317_1949005.woff') format('woff'), /* chrome、firefox */ url('//at.alicdn.com/t/font_1450322317_1949005.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('//at.alicdn.com/t/font_1450322317_1949005.svg#iconfont') format('svg'); /* iOS 4.1- */
}

[class^="icon-"]:before, [class*=" icon-"]:before, [class^="icon-"]:after, [class*=" icon-"]:after {
    font: {
        family: iconfont;
        size: 3rem;
        style: normal;
    }

    color: #333;
    display: inline-block;
}

/*header & footer start */
.header, .footer {
    height: 10rem;
    background: #fff;
}

.footer {
    height: 5rem;
    padding: 5rem 0 0 10rem;
    font-size: 1.4rem;
    background: #111;
}
/*header & footer end*/

/*header start*/
.logo {
    float: left;
    margin: 3rem 1.5rem;

    img {
        width: 100%;
    }
}

.nav {
    float: right;
    height: 100%;

    > li {
        float: left;
        height: 100%;
        @include transition(all 0.5s);

        &:hover {
            background: #f2f2f2;
        }
    }

    a {
        display: block;
        padding: 2rem;
        text-align: center;
        line-height: 6rem;
        @include transition(line-height 0.2s);
    }

    .active {
        background: #f9f9f9;
    }
}

.nav-more {
    position: relative;
    z-index: 100;

    &:hover .sub-nav {
        visibility: visible;
    }
}

.icon-more:after {
    padding-left: 1em;
    content: '\e607';
    color: #999;
    font-size: 1rem;
    vertical-align: top;
}

.sub-nav {
    visibility: hidden;
    position: absolute;
    right: 0;
    background: #333;

    > li {
        width: 20rem;
        height: 6rem;
        line-height: 6rem;
        text-align: center;
        @include transition(background 0.5s);

        &:hover {
            background: #444;
        }
    }

    a {
        display: inline;
        letter-spacing: normal;
    }
}

.header-sticky {
    height: 6rem;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);

    .logo {
        margin: 1.5rem;
    }

    img {
        width: 70%;
    }

    .nav a {
        line-height: 2rem;
    }
}
/*header end*/
